#page-login{
    display: flex;
    flex: 1;
    align-items: center;
}

#sign-up{
    flex-direction: column;
    display: flex;
    background: var(--color-primary-light);
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#sign-in{
    flex-direction: column;
    display: flex;
    height: 100vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    background: var(--color-background);
}

input {
    margin-bottom: 24px;
    width: 500px;
}

#hello-visitor{
    color: var(--color-title-in-primary);
    margin-bottom: 24px;
}

#sign-in-title{
    color: var(--color-primary);
    margin-bottom: 24px;
}

#sign-up-button{
    color: var(--color-button-text);
    border: 5px solid var(--color-secondary);
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    border-radius: 8px;
    font-size: 24px;
    line-height: 42px;
    width: 320px;
    height: 80px;
    cursor: pointer;
    border-radius: 64px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sign-in-button{
    color: var(--color-button-text);
    border: 5px solid var(--color-secondary);
    box-sizing: border-box;
    background-color: var(--color-secondary);
}