#page-list-project{
    display: flex;
    flex: 1;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 900px;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: var(--color-primary);
    font-size: 40px;
    margin-bottom: 24px;
}

.sc-iwyYcG{
    width: auto;
    margin: auto;
}

.add-button {
    align-self: flex-end;
    margin-right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    height: 80px;
    width: 80px;
    color: #fff;
    margin-top: 16px;
    background: var(--color-secondary);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}