#page-new-project{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: var(--color-primary);
    font-size: 40px;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#steps {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-item {
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c4c4c4;
    height: 100px;
    width: 100px;
    border-radius: 50px;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 55px;

    color: #FFFFFF;
}

.step-item-active {
    background-color: var(--color-primary);
}

.connector {
    width: 100px;
    height: 8px;
    background: rgba(196, 196, 196, 0.5);
}

.connector-active {
    background-color: var(--color-primary-light);
}

#submit {
    color: var(--color-button-text);
    border: 5px solid var(--color-secondary);
    box-sizing: border-box;
    background-color: var(--color-secondary);
}

label {
    align-self: flex-start;
    margin-bottom: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;

    color: #145374;

    opacity: 0.5;
}

.slider {
    padding: 0px;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    border-radius: 8px;
    height: 25px;
    background: var(--color-secondary);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--color-secondary);
    cursor: pointer;
  }